.painel-container {
  width: 100%;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 50px;
  font-family: Arial, sans-serif;
}

.coluna {
  text-align: center;
}

.coluna h1 {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #f1b100; /* amarelo igual de lanchonetes */
}

.coluna ul {
  list-style: none;
  padding: 0;
}

.coluna li {
  font-size: 45px;
  font-weight: bold;
  margin: 10px 0;
}

.pronto {
  color: red;
  font-size: 60px;
}

