
.painel-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #111111, #222); 
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}


.coluna {
  text-align: center;
  width: 42%;
  background: #00000055;
  padding: 25px 30px;
  border-radius: 20px;
  backdrop-filter: blur(4px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 25px #000;
}


.coluna h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 28px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #f5b400;  
  
}


.coluna ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.coluna li {
  font-size: 58px;
  font-weight: 800;
  margin: 18px 0;
  padding: 18px;
  border-radius: 14px;
  background: #ffffff10;
  color: #fff;
  box-shadow: inset 0 0 20px #0005;
  transition: transform 0.15s ease;
}


.coluna li:hover {
  transform: scale(1.07);
}


.pronto {
  color: #ff3333;
  background: #330000;
  font-size: 72px;
  
}


@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0.5; }
}
